section{
    background-color: rgb(165, 165, 43);
    width: 800px;
    height: 800px;
}

div{
    background-color: aquamarine;
    width: 50%;
    height: 50%;
}
h1{
    border: 2px solid black;
    font-size: 50px;
    line-height: 300%; /* 300% of font size = 150px */
}
h2{
    margin-left: 2em;
    font-size: 3em;
}
article{
    font-size: 20px;
}
p{
    font-size: 2em;
}
button{
    font-size: 1em;
    padding: 0 1em;
    border-radius: .5em;
    background-color: aquamarine;
    color: rgb(119, 86, 43);
}
ul{
    font-size: 1.5rem;
}