h1{
    color: aquamarine;
    background-color: rgb(57, 158, 148);
}
h2{
    color: indianred;
    background-color: #a046b0f7;
}
button{
    color: #63542f;
    background-color: crimson;
}
p{
    color: darkgoldenrod;
    background-color: darkgreen;
}